.tablePadding th{
    padding:15px 15px;
}

.tablePad th{
    padding:0 25px;
}

.tableP td{
    padding:0 15px;
}

.title {
    background-color: green;
}

.new-row {
    clear: left;
}
.row { display: inline-block; width: 33%; }