<link rel="stylesheet" href="serviceStatus/serviceStatus.css">

<h1 class ="title"> Service Status: {{name}} </h1>
<table ng-table-dynamic = "tableParams with cols" class="table">
  <thead>
  <tr>
    <th ng-repeat="host in getList()| orderBy: 'name'">
      {{host.name}}
    </th>

  </tr>
  </thead>
  <tbody class="t">

  <td ng-repeat="host in getList() | orderBy: 'name'">
    <img ng-src="resources/{{host.color}}.jpg" title="{{host.name}}" data="{{host.name}}" ng-click="show(host.name); hide()">
  </td>

  </tbody>
</table>

<h1></h1>

<div ng-show="myValue" class="hideByDefault" >
  <h1><span class="background" > Environment Details: {{env}}</span></h1>
  <div class = "row" ng-repeat="host in getDetail(env) | orderBy: 'name'"
       ng-class="{'new-row': startNewRow($index, columnBreak) }">
  <table  ng-table-dynamic = "tableParams with cols" class="table">
    <thead>
    <tr ng-if="$index < 3">
      <th >Name</th>
      <th>Color</th>

    </tr>
    </thead>
    <tbody>
    <tr class = "tableP">
      <td>
        {{$index+1}}.
        {{host.name}}
      </td>
      <td>
        <img ng-src="resources/{{host.color}}_small.jpg" title="{{host.name}}" data="{{host.name}}" ng-click="show2(host.name); hide()">
      </td>
    </tr>
    </tbody>

    </table>
  </div>
</div>

<div ng-show="myValue2" class="hideByDefault">
  <h2><span class="background">Team Details: {{group}} </span></h2>
  <div class = "row" ng-repeat="host in getDetail1(group, env) | orderBy: 'name'"
       ng-class="{'new-row': startNewRow($index, columnBreak)}" ng-if="host.group == group" >
    <table ng-table-dynamic = "tableParams with cols" class="table" >
      <thead>
      <tr ng-init="count()" ng-if="columnCount < 4">
        <th>Name</th>
        <th>Color</th>
      </tr>
      </thead>
      <tbody>
      <tr class ="tableP" >
        <td >
          {{host.name}}
        </td>
        <td>
          <img ng-src="resources/{{host.color}}_small.jpg" title="{{host.name}}" data="{{host.name}}" ng-click="show3(host.name)" >
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>



<div ng-show="myValue3" class="hideByDefault" >
  <h3><span class ="background">Details: {{id}}</span></h3>
  <table ng-table-dynamic = "tableParams with cols" class="table" style ="table-layout: auto; width: 100%">
    <thead>
    <tr class = "tableH">
      <th>Service</th>
      <th>Status</th>
      <th>Current State</th>
      <th>Check Number</th>
      <th>Status update time</th>
    </tr>
    </thead>
    <tbody>

    <tr class = "tableT" ng-repeat="host in getDetail2()"  ng-if="host.host_name == id" ng-class="{textRed: host.current_state==2, textYellow: host.current_state==1, textGreen: host.current_state==0}">
      <td>{{host.name}}</td>
      <td>{{host.status}}</td>
      <td>{{host.current_state}}</td>
      <td>{{host.current_check_attempt}}/{{host.max_check_attempts}}</td>
      <td>{{host.status_update_time}}</td>
    </tr>

    </tbody>
  </table>
</div>

